::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #336E7B;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #336E7B;
}

#nav-items-container{
	position: absolute;
	top: 680px;
}

#nav-items{
	list-style-type: none;
	text-align: left;
	overflow: hidden;
	position: relative;
	padding: 3%;
	left: -2%;
	margin-left: 17.5%;
	margin-right: 11.5%;
	margin-top: -10%
}

.nav-item{
	outline: #007AFF dotted thin;
	color: black;
	padding-top: 3%;
	padding-bottom: 3%;
	margin-top: 4%;
	margin-bottom: 4%;
	padding-left: 4%;
	padding-right: 4%;
	font-family: 'Roboto', sans-serif;

}
#navbar-container{
	margin-right: 75%;
	z-index: 300;
}
.quote{
	position: absolute;
	top: 480px;
	right: 100px;
	font-size: 32px;
	font-family: "Comfortaa"
	/*z-index: 100;*/
}

#title-text{
	font-weight: bold;
	font-family: 'Comfortaa', cursive;
	margin-bottom: 2%;
}
#navbar li{
	display: inline;
	font-family: 'Comfortaa';
	margin-left: 4%;
	margin-right: 4%;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

#navbar li:hover{
	color: #1F3A93;
	font-weight: bolder;
	font-style: italic;

}

.job-heading{
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

#text{
	font-family: 'Roboto', sans-serif;
}

.berkeley{
	position: relative;
	width: 100%;
	z-index: 100;
	opacity: 0.7;
}

.overlay{
	position: relative;
	width: 100%;
	height:100%;
	background-color: black;
	align-items: center;
	z-index: 50;
	opacity: 1;
}

.greeting{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 200;
	font-size: 48px;
	color: white;
	font-family: 'Comfortaa', cursive;
}

.subtitle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 200%);
	/*transform: translateX(100%);*/
	z-index: 200;
	color: white;
	font-family: 'Comfortaa';

}

body{
	margin: 0;
	padding: 0;
	background-color: #f5fbff;
}

.sticky{
    position: fixed;
    top:0;
}

#seal{
	max-height: 60px;
	float: right;
}

/*FONTS :

font-family: 'Roboto', sans-serif;

font-family: 'Comfortaa', cursive;

*/
