body {
  background-color: #636e72;
}

#page{
  position: absolute;
  top: 30%; left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f3f3f3;
  padding: 5%;
  width: 45%;
  border-radius: 25px;
}
.mainDetails{
  width:100%;
}
#headshot{
  float: left;
}
#name{
  float:center;
}
#details{
  float: right;
}
